body {

}

.article1 {
  display: flex;
  flex-wrap: wrap;
  background-color: lightblue;
  height: 584px;
  width: auto;
  
  
  &__personnalisation {
    background-color: white;
    width: 284px;
    height: 180px;
   
    margin: auto 60px;
  }
   
    &__chaussettes {
    width: 792px;
    height: 613px;
    margin-top: 10%;
    text-align: center;
    }
    
    &__bouton {
    width: 210px;
    height: 50px;
    background-color: black;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    color: white;

    }
   } 
  
   .article2 {
    
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 523px;
    &__personnalisation {
      background-color: lightblue;
      width: 100%;
      height: auto;
      margin: 40px;
     
    }
     &__chaussettes {
      
     } 
  
    
  
     &__sockrecycle {
      height: 250px;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #6A6A6A;
      text-align: center;
     }

     &__participate {
       font-size: 30px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       margin: auto 12%;
     }

     &__aideznous {
       margin: 12% 12%;
       font-size: 26px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     }

     &__texte1 {
      margin: 12% 12%;
      font-size: 22px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: grey;
     }

     &__bouton {
      width: 210px;
      height: 50px;
      background-color: black;
      cursor: pointer;
      font-size: 16px;
      color: white;
      margin: 12% 17%;
     
     }
    }



@media (min-width:980px) {
// code pour article 1


.article1 {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  height: 613px;
  padding-top: 80px;
  
  &__personnalisation {
    background-color: white;
    width: 509px;
    height: 509px;
   
    margin: auto 60px;
  }
   
    &__chaussettes {
    width: 710px;
    height: 613px;
    background-color: white;
    margin: auto;

    }

    &__bouton {
      width: 210px;
      height: 50px;
      background-color: black;
      text-align: center;
      cursor: pointer;
      font-size: 16px;
      color: white;
      justify-content: center;
      position: relative;
    }
    
   } 
  




// code pour article 2
.article2 {
  display: flex;
  
  margin: 64px 0px;
  background-color: white;
  height: 523px;

  &__personnalisation {
    background-color: lightblue;
    width: 509px;
    height: 509px;
   
   
  }
   &__chaussettes {
    width: 509px;
    height: 509px;
    margin: 64px 40px;
    
   } 

   &__participate {
     width: 500px;
     font-size: 50px;
   }

   &__aideznous {
     font-size: 32px;
   }

  &__texte1 {
    width: 500px;
  }
  

   &__sockrecycle {
    height: 100%;
    font-size: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #6A6A6A;
    text-align: center;
    font-size: 48px;
   }
  }


// code pour article 3

.article3 {
  display: flex;
  flex: auto;
  margin: 64px 40px;
  background-color: red;
  height: 379px;

  &__personnalisation {
    color: white;
  }
}

/* code pour article 4 a faire

.article4 {
  display: flex;
 
  align-items: center;
  margin: 30px;
  height: 815px;
  

  &__titre {
    color: red;
  }

  &__sockvitrine {
    flex: 1;
  }

  &__exoticsock {
    
    background-color: lightblue;
    height: 696px;
    width: 387px;
   
  
  &__basicsock {
   
    background-color: darkblue;
    height: 696px;
    width: 387px;
    margin-left: 696px;
    
    }
}
}
*/

}






