body {

}



@media (min-width:980px) {
// code pour article 1


.article1 {
  display: flex;
  flex: auto;
  margin: 40px;
  background-color: lightblue;
  height: 613px;
  
  &__personnalisation {
    background-color: white;
    width: 509px;
    height: 509px;
   
    margin: auto 60px;
  }
   
    &__chaussettes {
    width: 792px;
    height: 613px;
    background-color: white;
    
    
   } 
  
}



// code pour article 2
.article2 {
  display: flex;
  flex: auto;
  margin: 64px 40px;
  background-color: white;
  height: 523px;
  &__personnalisation {
    background-color: lightblue;
    width: 509px;
    height: 509px;
   
   &__chaussettes {
    
   } 
  }
}

// code pour article 3

.article3 {
  display: flex;
  flex: auto;
  margin: 64px 40px;
  background-color: red;
  height: 379px;

  &__personnalisation {
    color: white;
  }
}

/* code pour article 4 a faire

.article4 {
  display: flex;
 
  align-items: center;
  margin: 30px;
  height: 815px;
  

  &__titre {
    color: red;
  }

  &__sockvitrine {
    flex: 1;
  }

  &__exoticsock {
    
    background-color: lightblue;
    height: 696px;
    width: 387px;
   
  
  &__basicsock {
   
    background-color: darkblue;
    height: 696px;
    width: 387px;
    margin-left: 696px;
    
    }
}
}
*/

}






