.article1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 60px;
  background-color: #dce5f2;
  height: 100vh;
  position: relative;
  z-index: -1;
  margin-bottom: 40px;
  user-select: none;

  &__motif {
    width: auto;
    height: 90px;

    & img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  &__title {
    position: absolute;
    background-color: white;
    height: 180px;
    width: 280px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;

    &__crayon {
      position: absolute;
      top: 140px;
      right: 5px;
    }

    & h1 {
      font-size: 54px;
      font-family: alternate-gothic-no-2-d, sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    & h3 {
      font-family: "Roboto", sans-serif;
      display: none;
    }
  }
  &__deco {
    &__chaussettes {
      height: 300px;
      width: auto;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      margin-top: 30px;

      &__sock {
        height: 280px;
        width: auto;
        position: absolute;
        padding-right: 5px;
        padding-top: 8px;
      }
      &__contour {
        height: 100%;
        width: auto;
      }
    }
    &__chaussettes2 {
      display: none;
  }   
  }

  &__bouton {
    width: auto;
    height: auto;
    position: absolute;
    bottom: 50px;
    display: flex;

    & button {
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-size: 18px;
      width: 100%;
      height: 100%;
      padding: 12px 20px;
      background-color: black;
      border: solid 2px black;
      color: white;
      cursor: pointer;
      transition: ease 0.5s;
    }

    & button:hover {
      transition: ease 0.5s;
      background-color: #dce5f2;
      color: black;
      border: solid 2px black;
    }
  }
}


@media (min-width: 980px) {
  .article1 {
    display: flex;
    justify-content: start;
    height: 615px;
    width: 90vw;
    margin-bottom: 60px;

    &__motif {
      width: 435px;
      height: 615px;
    }
    &__title {
      width: 505px;
      height: 505px;
      margin: 50px 80px;
      display: flex;
      justify-content: center;
      align-items: center;

      &__crayon {
        top: 180px;
      }

      &__texte {
        height: 350px;
        width: 450px;
        & h1 {
          font-size: 75px;
          margin-bottom: 2%;
        }
        & h3 {
          display: block;
          font-size: 16px;
          width: 90%;
          color: #7a7a7a;
          line-height: 130%;
        }
      }
    }
    &__deco {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 25%;
      margin-top: 8%;
      width: 30%;
      height: 60%;
      &__chaussettes {
        height: 350px;
        position: relative;
        margin: 0;
        transform: rotate(180deg);
        padding-top: 15px;

        &__sock {
          height: 330px;
        }
      }
      &__chaussettes2 {
        display: block;
        width: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 350px;
        position: relative;
        padding-top: 15px;

        &__sock2 {
          width: auto;
          position: absolute;
          padding-right: 5px;
          padding-top: 8px;
          height: 330px;
        }

        &__contour2 {
          height: 100%;
          width: auto;
        }
      }
    }
    &__bouton {
      bottom: 130px;
      left: 125px;

      & button:hover {
        background-color: white;
      }
    }
  }
}
