.article2 {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  min-height: 920px;

  &__planete {
    background-color: #dce5f2;
    width: 100%;
    height: auto;
    margin: 40px;
  }
  &__svg {
    position: absolute;
  }

  &__svg2 {
    position: absolute;
  }

  &__sockrecycle {
    height: 250px;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: alternate-gothic-no-2-d, sans-serif;
    color: #6a6a6a;
  }

  &__participate {
    font-size: 54px;
    font-family: alternate-gothic-no-2-d, sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px 12% 18px;
  }

  &__aideznous {
    margin: 0px 12% 18px;
    font-size: 46px;
    font-family: alternate-gothic-no-2-d, sans-serif;
  }

  &__texte1 {
    margin: 0px 12% 18px;
    font-size: 18px;
    color: grey;
    font-family: "Roboto", sans-serif;
  }

  &__bouton {
    height: auto;
    width: fit-content;
    display: flex;
    margin: 0px 12%;
    cursor: pointer;

    & button {
      background-color: black;
      color: white;
      font-family: "Roboto", sans-serif;
      text-transform: uppercase;
      font-size: 15px;
      border: none;
      padding: 12px 20px;
    }
  }
}

@media (min-width: 980px) {
  // code pour article 2
  .article2 {
    display: flex;
    align-items: center;
    width: 90vw;
    margin-bottom: 60px;
    background-color: white;
    min-height: 523px;

    &__planete {
      background-color: #dce5f2;
      width: 509px;
      height: 509px;
      margin: 0px;
    }
    &__chaussettes {
      width: 70vh;
      margin: 0px 64px;
    }

    &__participate {
      width: 500px;
      font-size: 56px;
      margin: 0px;
      margin-bottom: 20px;
    }

    &__aideznous {
      font-size: 50px;
      margin: 0px;
      margin-bottom: 20px;
    }

    &__texte1 {
      width: 500px;
      margin: 0px;
      margin-bottom: 25px;
    }

    &__bouton {
      margin: 0;
    }

    &__sockrecycle {
      height: 100%;
      font-size: 54px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      color: #6a6a6a;

      font-size: 48px;
    }
  }
}
