.article4 {
  display: flex;
  justify-content: center;
  background-color: white;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;

  &__background {
    background-color: #dce5f2;
    width: 320px;
    height: 320px;
  }

  &__motif {
    width: auto;
    height: 90px;
  }
  &__title {
    height: 180px;
    width: 320px;
    display: flex;
    padding-top: 64px;

    & h1 {
      font-size: 54px;
      font-family: alternate-gothic-no-2-d, sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }
  &__chaussettes {
    height: 360px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &__sock {
      height: 360px;
      width: auto;
      position: absolute;
      padding-right: 5px;
      padding-top: 100px;
    }
    &__contour {
      height: 380px;
      width: auto;
      padding-top: 80px;
    }
  }

  &__prix1 {
    height: auto;
    width: auto;
    padding: 30px;

    & h1 {
      padding: 10px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      font-family: "Roboto", sans-serif;
      font-weight: bolder;
    }
    & h2 {
      font-size: 18px;
      display: flex;
      justify-content: center;
      color: #747474;
      font-family: "Roboto", sans-serif;
      padding-top: 30px;
    }
  }

  &__produit2 {
    padding-top: 200px;
  }

  &__background2 {
    background-color: #dce5f2;
    width: 320px;
    height: 320px;
    background-image: url("./../assets/img/motif-1.jpg");
  }

  &__chaussettes2 {
    height: 360px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &__sock2 {
      height: 360px;
      width: auto;
      position: absolute;
      padding-right: 5px;
      padding-top: 100px;
    }
    &__contour2 {
      height: 380px;
      width: auto;
      padding-top: 80px;
    }
  }

  &__prix2 {
    height: auto;
    width: auto;
    padding: 30px;

    & h1 {
      padding: 10px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
    }
    & h2 {
      font-size: 18px;
      display: flex;
      justify-content: center;
      color: #747474;
      font-family: "Roboto", sans-serif;
      padding-top: 30px;
    }
  }
}

@media (min-width: 980px) {
  .article4 {
    &__produit {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      user-select: none;
    }

    &__produit2 {
      padding-top: 0px;
    }

    &__background {
      width: 450px;
      height: 450px;
      margin-right: 140px;
    }

    &__background2 {
      width: 450px;
      height: 450px;
    }

    &__chaussettes {
      height: 480px;
      padding-top: 30px;
      cursor: pointer;
      -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      

      &__sock {
        height: 450px;
      }
      &__contour {
        height: 480px;
        padding-top: 80px;
      }
      
     
    }

    &__chaussettes:hover {
      -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        
    }

    &__chaussettes2 {
      height: 480px;
      padding-top: 30px;
      cursor: pointer;
      -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;

      &__sock2 {
        height: 450px;
      }
      &__contour2 {
        height: 480px;
        padding-top: 80px;
      }
    }

    &__chaussettes2:hover {
      -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        
    }

    &__prix1 {
      & h1 {
        font-size: 38px;
      }
      & h2 {
        font-size: 22px;
      }
    }

    &__prix2 {
      & h1 {
        font-size: 38px;
      }
      & h2 {
        font-size: 22px;
      }
    }
    &__title {
      height: 120px;
      width: 1020px;
      display: flex;
      justify-content: center;
      padding-top: 10px;

      & h1 {
        font-size: 64px;
      }
    }
  }
}
