.article1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 60px;
  background-color: #dce5f2;
  height: 100vh;
  position: relative;
  z-index: -1;

  &__motif {
    width: auto;
    height: 90px;

    & img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  &__title {
    position: absolute;
    background-color: white;
    text-transform: uppercase;
    height: 180px;
    width: 280px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;

    & h1 {
      font-size: 54px;
      font-family: alternate-gothic-no-2-d, sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    & h3 {
      display: none;
    }
  }
  &__chaussettes {
    height: 300px;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 30px;

    &__sock {
      height: 280px;
      width: auto;
      position: absolute;
      padding-right: 5px;
      padding-top: 8px;
    }
    &__contour {
      height: 100%;
      width: auto;
    }
  }
}

@media (min-width: 980px) {
  .article1 {
    display: flex;
    justify-content: start;
    height: 615px;
    margin-left: 60px;
    margin-right: 60px;

    &__motif {
      width: 435px;
      height: 615px;
    }
    &__title {
      width: 505px;
      height: 505px;
      margin-left: 80px;

      & h3 {
        display: block;
      }
    }
  }
}
