  .article4 {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
   

  &__background {
    background-color:#dce5f2;
    width: 320px;
    height: 320px;
   
  }

  &__motif {
    width: auto;
    height: 90px;

    & img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      
    }
  }
  &__title {
    
   
    height: 180px;
    width: 320px;
    display: flex;
    
   

    & h1 {
      font-size: 54px;
      font-family: alternate-gothic-no-2-d, sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }
  &__chaussettes {
    height: 360px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
   


    &__sock {
      height: 340px;
      width: auto;
      position: absolute;
      padding-right: 5px;
      padding-top: 8px;
    }
    &__contour {
      height: 100%;
      width: auto;
    }

   
  
  }

  &__prix1  {
    height: auto;
    width: auto;
    padding: 10px;
    
    & h1 {
      padding: 10px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
    }
    & h2 {
      font-size: 18px;
      display: flex;
      justify-content: center;
      color: #747474;
      font-family: "Roboto", sans-serif;
    }
   }



  &__produit2 {
    padding-top: 230px;
  }

  &__background2 {
    background-color:#dce5f2;
    width: 320px;
    height: 320px;
    padding-top: 15px;
   
  }

  &__chaussettes2 {
    height: 60px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &__sock2 {
      height: 370px;
      width: auto;
      position: absolute;
      padding-right: 5px;
      padding-top: 8px;
    }
  }

  &__prix2  {
    height: auto;
    width: auto;
    padding-top: 110px;
    
    & h1 {
      padding: 10px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
    }
    & h2 {
      font-size: 18px;
      display: flex;
      justify-content: center;
      color: #747474;
      font-family: "Roboto", sans-serif;
    }
   }
}

