  .article4 {
    display: flex;
    justify-content: center;
    background-color: white;
    flex-direction: column;
    align-items: center;
   

  &__background {
    background-color:#dce5f2;
    width: 320px;
    height: 320px;
   
  }

  &__motif {
    width: auto;
    height: 90px;

    
  }
  &__title {
    
   
    height: 180px;
    width: 320px;
    display: flex;
    
   

    & h1 {
      font-size: 54px;
      font-family: alternate-gothic-no-2-d, sans-serif;
      font-weight: 400;
      font-style: normal;
    }
  }
  &__chaussettes {
    height: 360px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
   


    &__sock {
      height: 340px;
      width: auto;
      position: absolute;
      padding-right: 5px;
      padding-top: 38px;
    }
    &__contour {
      padding-top: 38px;
      height: 100%;
      width: auto;
    }

   
  
  }

  &__prix1  {
    height: auto;
    width: auto;
    padding: 30px;
    
    & h1 {
      padding: 10px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
    }
    & h2 {
      font-size: 18px;
      display: flex;
      justify-content: center;
      color: #747474;
      font-family: "Roboto", sans-serif;
    }
   }



  &__produit2 {
    padding-top: 200px;
  }

  &__background2 {
    
      background-color:#dce5f2;
      width: 320px;
      height: 320px;
     
    }

    &__chaussettes2 {
      height: 360px;
      width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      
     
  
  
      &__sock2 {
        height: 340px;
        width: auto;
        position: absolute;
        padding-right: 5px;
        padding-top: 38px;
      }
      &__contour2 {
        padding-top: 38px;
        height: 100%;
        width: auto;
        
      }
  
     
    
    }

    &__prix2  {
      height: auto;
      width: auto;
      padding: 30px;
      
      & h1 {
        padding: 10px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        font-family: "Roboto", sans-serif;
        font-weight: bold;
      }
      & h2 {
        font-size: 18px;
        display: flex;
        justify-content: center;
        color: #747474;
        font-family: "Roboto", sans-serif;
      }
     }

     
     &__svg {
      position: absolute;
      margin-top: 190px;
      margin-left: -130px;

    }
    &__svg2 {
      position: absolute;
      margin-top: -150px;
      margin-left: 170px;
      
    }
    
  }
  



  @media (min-width: 980px) {

    .article4 {
  
      &__produit {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
      }
  
      &__produit2 {
        padding-top: 0px;
      }
  
      &__background {
       
        width: 450px;
        height: 450px;
       margin-right: 140px;
      }
  
      &__background2 {
        
        width: 450px;
        height: 450px;
       
      }
  
      &__chaussettes {
        height: 480px;
        padding-top: 30px;
             
        &__sock {
          height: 450px;
         
        }
        &__contour {
          padding-top: 28px;
          
        }
       
      }
  
      &__chaussettes2 {
        height: 480px;
        padding-top: 30px;
             
        &__sock2 {
          height: 450px;
         
        }
        &__contour2 {
          padding-top: 28px;
          
        }
       
      }
  
      &__prix1  {
              
        & h1 {      
          font-size: 38px;
          
        }
        & h2 {
          font-size: 22px;
          
        }
       }
  
       &__prix2  {
              
        & h1 {      
          font-size: 38px;
          
        }
        & h2 {
          font-size: 22px;
          
        }
       }
       &__title {
      
     
        height: 120px;
        width: 1020px;
        display: flex;
        justify-content: center;
        padding-top: 60px;
        
       
    
        & h1 {
          font-size: 64px;
          
         
        }
    
    } 
    
    
    }
  }
  
