.footer {
  position: relative;
  display: flex;
  height: 162vh;
  padding-top: 64px;
  flex-direction: column;

  &__global {
    position: relative;
    display: flex;
    height: 100vh;
  }

  &__img {
    height: 70vh;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;
    position: relative;
  }

  &__info {
    display: flex;
    justify-content: center;
    
    width: 100vw;
    height: 160vh;
    background-color: #222222;

  }

    &__svg {
      margin-top: 15px;
      display: flex;
      justify-content: center;
       
  }

   &__madein {

    & h1 {
      position: absolute;
      color: white;
      margin-top: 70px;
      margin-left: -88px;
      font-size: 20px;
      font-family: "Roboto", sans-serif;
    }

    & h2 {
      position: absolute;
      color: white;
      margin-top: 120px;
      margin-left: -180px;
      font-size: 24px;
      font-family: "Roboto", sans-serif;
    }

    & h3 {
      color: white;
      position: absolute;
      margin-top: 565px;
      margin-left: -155px;
      font-family: "Roboto", sans-serif;
      font-size: 14px;
    }
    
  
   }

   &__email {
    position: absolute;
    margin-top: 200px;
    margin-left: -160px;
    
    & input {
      width: 270px;;
      height: 50px;
      font-size: 20px;
      font-family: "Roboto", sans-serif;
      
    }
    
    
  }

  &__btn {
    position: absolute;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: #222222;
    width: 140px;
    height: 60px;
    margin-top: 290px;
    margin-left: -90px;

    & a {
      color: white;
      font-size: 20px;
      font-family: "Roboto", sans-serif;
    }
  }

    


  &__title {
    position: absolute;
    
    top: 140px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    
    z-index: 0;
   
     & button {
      background-color: white;
      color: black;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18px;
      border: solid 2px white;
      padding: 12px 20px;
      transition: ease 0.5s;
      cursor: pointer;
    }
    & button:hover {
      transition: ease 0.5s;
      background-color: black;
      color: white;
      border: solid 2px black;
    }
    

    
  }
  &__svg1 {
    position: absolute;
    margin-top: 400px;
    margin-left: -130px;
  }

  &__svg2 {
    position: absolute;
    margin-top: 490px;
    margin-left: -126px;
  }
}

@media (min-width:980px) {

.footer {
  position: relative;
  display: flex;
  height: 600px;
  padding-top: 64px;
  flex-direction: column;

  &__global {
    position: relative;
    display: flex;
    height: 300px;
  }
  &__info {
   position: relative;
    width: 100vw;
    height: 300px;
    background-color: #222222;

  }

  &__img {
    height: 300px;
    width: 100vw;
    object-fit: cover;
    overflow: hidden;
    position: relative;
  }
  &__svg {
    
    margin-top: 0px;
    opacity: 0;
     
}

  &__email {
    
    margin-top: 120px;
    margin-left: -220px;
    
    & input {
      width: 400px;;
      height: 54px;
      font-size: 20px;
      font-family: "Roboto", sans-serif;
      
    } 
  }

  &__madein {

    & h1 {
      opacity: 0;
    }

    & h2 {
      position: absolute;
      color: white;
      margin-top: 80px;
      margin-left: -220px;
      font-size: 20px;
      font-family: "Roboto", sans-serif;
    }

    & h3 {
      
      margin-top: 265px;
      margin-left: 26%;
     
      font-size: 14px;
    }

}

&__btn {
 
  width: 220px;
  height: 60px;
  margin-top: 120px;
  margin-left: 210px;

  & a {
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
  }
}

&__svg1 {
  
  margin-top: 30px;
  margin-left: -50%;
}

&__svg2 {
  
  margin-top: 240px;
  margin-left: -50%;
}
}
}


