header {
    width: 100%;
    position: fixed;
    height: 60px;
    display: flex;
    justify-content: center;

    .nav {
        width: 97%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;


        &__icons {
            display: flex;
            align-items: center;
            width: auto;
            height: auto;
            display: none;

            

            &__account {
                cursor: pointer;
                user-select: none;
                
            }

            &__basket {
                cursor: pointer;
                user-select: none
                
            }

        }

        &__logo {
            width: auto;
            height: 35px;
            cursor: pointer;
            user-select: none;
    
        }

        &__menu {
                display: none;
        }
    }
}

@media(min-width: 980px) { 
    
    header {

    
        .nav {
            width: 95%;

            
            &__logo {
                height: 40px;
            }

            &__icons {
                display: block;
                display: flex;
                align-items: center;
            }

            &__menu {
                display: block;
                width: auto;
                height: auto;   
            }

            &__list {
                display: flex;
                align-items: center;  
                justify-content: space-between;
            }

            &__text {
                text-transform: uppercase;
                cursor: pointer;
                user-select: none;
                margin: 0 30px;
                font-size: 22px;
                font-family: alternate-gothic-no-2-d, sans-serif;
                font-weight: 400;
                font-style: normal;
            }
        }
    }
}








