header {
  width: 100%;
  position: fixed;
  height: 60px;
  display: flex;
  justify-content: center;
  background-color: white;
  z-index: 1;


.nav {
    width: 97%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &__menu {
        display: none;
    }
  &__burger {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 35px;
      width: 35px;
      cursor: pointer;
    


    span {
        display: block;
        height: 4px;
        background-color: black;
        
          &:first-child {
              width: 100%;
              transition: transform 0.3s;
          }
        
          &:nth-child(2) {
              width: 100%;

              transition: opacity 0.3s ease;
          }
            
          &:last-child {
              width: 100%;
              transition: transform 0.3s;
          }
        }
    }

    &__burger.is-active {
        
        &__menu {
            display: flex;
            align-items: center;  
            justify-content: center;  
          & ul {
              display: flex;
              align-items: center;
              justify-content: space-between;
    
            & li { 
                
            }
          }            
        }   

        span {

            &:first-child {
            transform: translateY(8px) rotate(-45deg);
            width: 35px;
            }
            
            &:nth-child(2) {
               opacity: 0%;
            }
            
            &:last-child {

            transform: translateY(-12.5px) rotate(45deg);
            width: 35px;
            }
        }
    }

    &__logo {
        width: auto;
        height: 35px;
        cursor: pointer;
        user-select: none;
        transition: ease 0.5s;
    }

    &__icons {
        display: none;
    }
    


    @media (min-width:980px) {

      &__logo {
          height: 45px;
          transition: ease 0.5s;
      }

      &__icons {
          display: block;
          display: flex;
          align-items: center;
      }

      &__burger {
          display: none;
      }

      &__account {
          margin-right: 10px;
      }


      &__menu {
          display: flex;
          align-items: center;  
          justify-content: center;  
        & ul {
            display: flex;
            align-items: center;
            justify-content: space-between;
  
          & li { 

              font-size: 20px;
              text-transform: uppercase;
              cursor: pointer;
              user-select: none;
              margin: 0 30px;
              font-family: alternate-gothic-no-2-d, sans-serif;
              font-weight: 400;
              font-style: normal;
              
            } 
        }
        }  
    }
  }
}