@mixin flex-center {
    display: flex;
    align-items: center;
}

.nav {
    position: fixed;
    width: 100vw;
    height: 60px;
    z-index: 1;
    @include flex-center;
    justify-content: center;
}

.nav__account {
    position: absolute;
    right: 35px;
    width: 25px;
    height: 25px;
    padding-right: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    user-select: none
}

.nav__basket {
    position: absolute;
    right: 0;
    width: 33px;
    height: 33px;
    padding-right: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    user-select: none
}

.nav__logo{
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    width: auto;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in;
    user-select: none
}

.nav__list {
    display: none;
}

@media (min-width:980px) {

    .nav__logo{
        width: 25%;
        width: auto;
        height: 40px;
        left: 0;
        margin: 0px;
        margin-left: 20px;
        
    }

    .nav__account {
        margin-right: 50px;
        transition: all 0.3s ease-in;

    }
    
    .nav__basket {
        margin-right: 30px;
        transition: all 0.3s ease-in;
        margin-left: 5%;
    }
    
    .nav__menu {
        height: auto;
        width: 65vw;
        display: flex;
       
        line-height: 10em;
        
    }
    .nav__list {
       
        margin-left: 5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
       
   
    }
    .nav__text { 
       
        width: 10rem;;
        font-size: em;
        text-transform: uppercase;
        cursor: pointer;
        user-select: none;
        margin: 0 30px;
        transition: all 0.3s ease-in;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}


